<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true">

    <property resource="logback.properties" />
    <property name="appName" value="yn"/>
    <property name="LOG_HOME" value="D:/var"/>
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{0}:%L%X{serialNo}- %msg%n"/>
    
    <!-- 控制台日志配置 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 格式化 -->
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- info级别日志控制 -->
    <appender name="FILE_INFO"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件路径 -->
        <file>${LOG_HOME}/${appName}-info.log</file>
        <!-- 是否追加 默认为true -->
        <append>true</append>
        <!-- 滚动策略 日期+大小 策略 -->
        <rollingPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
            	${LOG_HOME}/${appName}-info.log.%d{yyyy-MM-dd}.%i
            </fileNamePattern>
            <!-- 单个日志大小 -->
            <maxFileSize>50MB</maxFileSize>
            <!-- 日志保存周期 -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <!-- 格式化 -->
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
        <!-- 级别过滤 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- ERROR级别日志控制 -->
    <appender name="ERROR_INFO"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件路径 -->
        <file>${LOG_HOME}/${appName}-error.log</file>
        <!-- 是否追加 默认为true -->
        <append>true</append>
        <!-- 滚动策略 日期+大小 策略 -->
        <rollingPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
				${LOG_HOME}/${appName}-error.log.%d{yyyy-MM-dd}.%i
            </fileNamePattern>
            <!-- 单个日志大小 -->
            <maxFileSize>50MB</maxFileSize>
            <!-- 日志保存周期 -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <!-- 格式化 -->
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
         <!-- 级别过滤 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE_INFO" />
        <appender-ref ref="ERROR_INFO" />
    </root>
</configuration>